<!DOCTYPE html>
<html>
    <head>
        <title> Todo List</title>
    </head>

    <body>
        <h1><b>New Todo List</b></h1>
        <form name = "todoForm" action="/save" method="post">
            Enter a new item: <input type="text" name="item" id="item" placeholder="New Todo"><br>
            <input type="submit" value="Save">
        </form>

        <h2> List of Todos </h2>
        <ul>
            <% for (var i = 0; i < todos.length; i++) { %>
                <li> <%= todos[i].text %></li>
            <% } %>
        </ul>

        <script type="text/javascript">
            function updateTodoList() {
                var item = document.getElementById('item').value;
                alert('hi ' + item);
                $.post('/save', {
                    item : item
                }, function (res) {

                });
            }
        </script>
    </body>
</html>